/*Honestly a nice font type */
/*Gonna  try and like comment on the lines. CAUSE I DO NOT WANT A BUNCH OF EXTRA LINES
/* This is the css for my history.html */
/* General stuff */
body {
    font-family: "Noto Serif", serif; /* The main font, I don't own zalando sans, really stupid */
    background-color: #F4ECDD; /* Page background color*/
	color:#2B2527; /* Text color literally not gonna be touched*/
	position: relative; /* Positioning my elements of course*/
}

/* Header stuff */
.page-header { 
    background-color:#C38B3F; /* Header background this time*/
	color:#F4ECDD; /*Header text color */
    padding: 50px 0; /* Space around my header text*/
}

/* Logo stuff */
#logo {
	width:100%; /* How to change the width*/
    max-width: 400px; /* How wide it maxes at*/
    display: block; /* Removes the annoying inline spacing*/
    margin: 30px auto; /* Centers it */
	height:auto; /* Helps to keep the proportions*/
}

/* Footer stuff */
.page-footer {
    background-color:#C38B3F; /* Footer background*/
	color:#F4ECDD; /* footer text color*/
	height:80px; /* footer height*/
	text-align:center; /* also centers texts */
	position:relative;  /* Forces the items inside*/
}

/* List stuff */
.custom-list .list-group-item { 
    background-color: #93B274; /* list item background color*/
    border: 1px solid #2B2527; /* the border color*/
	color: #2B2527; /* the text color*/
}

/* Link stuff */
a {
    color: #2B2527; /* the link color */
    text-decoration: none; /* just gets rid of the underline for links, or maybe I should have it still.*/
	font-weight:500; /* Font weight is amazing I had to add it now */
}

a:hover {
    text-decoration: underline;/* Underlines on hover, but like this basically activates when you hover over with the mouse. IMMA JUST LEAVE IT ALONE.*/
}
#corner-image {
    position: absolute;  /* Positioned anything into the footer*/
    bottom: 5px;   /* Starts from the bottom */ 
    right: 20px;  /* Starts from the right */
    width: 60px;   /* Image Size */   
}
/* Round 2, the start of the goal's css*/

/* Should have done this sooner but lowkey lost with which color is what. */
/* Dark brown is #2B2527*/
/* Whiteish color is #F4ECDD*/
/* Muted Green is #93B274*/
/* Golden Brown is #C38B3F*/
/* Bright Blue is #00ADEF*/

/* BEST IDEA EVER, BUT I'M STUPID AS HECK FOR ONLY DOING IT NOW....*/

/* header tag for goals */

#header-title {
	background-color:#93B274;
	font-weight:600; /* It going from 1 too 900 in like depth/boldness is honestly neat, I might use this more. */
	margin:0;
}

/* my box css for goals */
.box {
	background-color:#F4ECDD;
	border-radius: 8px;
	padding:20px;
}

/* nav css for goals*/
#nav-title {
	color:#C38B3F;
	font-weight: 400;
	margin: 0;
}

/* main stuff for goals*/

#info-heading {
	color:#C38B3F;
	font-size:40px;
}
#info-subheading {
	color:#2B2527;
	font-size:10px;
}
#info-list {
	padding-left:20px
}
#info-list li {
	margin-bottom: 8px;
}

/* image css for goals */
#img1-box {
	height:450px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#img1 {
	object-fit:cover;
	width:100%;
	height:100%;

/* contact us css for goals*/

#contact-title, #links-title {
	color:#C38B3F;
}

/* footer css for goals*/

.footer-box {
	background-color:#C38B3F;
	color:#2B2527;
	padding:15px;
	border-radius:8px;
}
#footer-text {
	margin: 0;
	font-size:19px;
}
