/*Honestly a nice font type */
/*Gonna  try and like comment on the lines. CAUSE I DO NOT WANT A BUNCH OF EXTRA LINES
/* This is the css for my history.html */
/* General stuff */
body {
    font-family: "Noto Serif", serif; /* The main font, I don't own zalando sans, really stupid */
    background-color: #F4ECDD; /* Page background color*/
	color:#2B2527; /* Text color literally not gonna be touched*/
	position: relative; /* Positioning my elements of course*/
}

/* Header stuff */
.page-header { 
    background-color:#C38B3F; /* Header background this time*/
	color:#F4ECDD; /*Header text color */
    padding: 50px 0; /* Space around my header text*/
}

/* Logo stuff */
#logo {
	width:100%; /* How to change the width*/
    max-width: 400px; /* How wide it maxes at*/
    display: block; /* Removes the annoying inline spacing*/
    margin: 30px auto; /* Centers it */
	height:auto; /* Helps to keep the proportions*/
}

/* Footer stuff */
.page-footer {
    background-color:#C38B3F; /* Footer background*/
	color:#F4ECDD; /* footer text color*/
	height:80px; /* footer height*/
	text-align:center; /* also centers texts */
	position:relative;  /* Forces the items inside*/
}

/* List stuff */
.custom-list .list-group-item { 
    background-color: #93B274; /* list item background color*/
    border: 1px solid #2B2527; /* the border color*/
	color: #2B2527; /* the text color*/
}

/* Link stuff */
a {
    color: #2B2527; /* the link color */
    text-decoration: none; /* just gets rid of the underline for links, or maybe I should have it still.*/
	font-weight:500; /* Font weight is amazing I had to add it now */
}

a:hover {
    text-decoration: underline;/* Underlines on hover, but like this basically activates when you hover over with the mouse. IMMA JUST LEAVE IT ALONE.*/
}
#corner-image {
    position: absolute;  /* Positioned anything into the footer*/
    bottom: 5px;   /* Starts from the bottom */ 
    right: 20px;  /* Starts from the right */
    width: 60px;   /* Image Size */   
}
/* Round 2, the start of the goal's css*/

/* Should have done this sooner but lowkey lost with which color is what. */
/* Dark brown is #2B2527*/
/* Whiteish color is #F4ECDD*/
/* Muted Green is #93B274*/
/* Golden Brown is #C38B3F*/
/* Bright Blue is #00ADEF*/

/* BEST IDEA EVER, BUT I'M STUPID AS HECK FOR ONLY DOING IT NOW....*/

/* header tag for goals */

#header-title {
	background-color:#93B274; /* The background color*/
	font-weight:600; /* It going from 1 too 900 in like depth/boldness is honestly neat, I might use this more. */
	margin:0; /* Set the margin to zero */
	text-align:center; /* aligns its horizontal for me*/
}
#header-box {
	width:100%; /* the header spans the literal container */
	margin:0; /* destroys the default margin*/
	padding:0; /* Removes default of the padding */
}

/* nav css for goals*/
#nav-title {
	color:#C38B3F; /* Set color of text*/
	font-weight: 400; /* Lower font weight*/
	margin: 0; /* Evicerates the defaul of the margin*/
}
 /* I GIVE UP ON COMING UP WITH NEW LINES FOR SAME STUFF OVER AND OVER. COPY AND PASTE IT IS. */
 
/* main stuff for goals*/

#info-heading { 
	color:#C38B3F; /*Sets the color */
	font-size:32px;
}
#info-subheading {
	color:#2B2527; /*Sets the color */
	font-size:16px; /*Sets the font size to whatever*/
}
#info-box{
	padding:20px; /* Padding inside the box*/
}
#info-list li {
	margin-bottom: 8px; /*Spacing between lists */
}

/* image css for goals */

#img1-box,#img2-box {
	width:100%; /* Becomes/matchs the container*/
	display:flex; /* Align thorugh the use of flexbox*/
	justify-content:center; /* centers horizontally*/
	align-items:center;/*Centers it vertically */
	padding: 0; /* Padding won't be in the container*/
}
#img2 {
	margin-left:100px; /* Pushed too the left by 100*/
	margin-bottom:20px; /* add space from the image*/
	height:800px; /* HOW GIANT IT IS*/
	width:525px; /* HOW WIDE IS IT */
}
#img1 {
	margin-right:108px; /* Push a bit to right*/
	margin-bottom:30px; /* made a lil space from image*/
	height:800px; /*How tall it is */
	width:520px; /*How chonky it is */
}
#img3 {
	width:700px;/*WIDEEEE */
	height:250px; /*TALLLER */
	margin-right:100px; /*PUSHED TO THE RIGHTTTT */
}
#img3-box {
	display:block; /* Container block  element*/
	width:100%; /* The entire container is it.*/
	margin-left:0;/* Aligns to the left*/
}
#img3-label {
	font-size:16px; /*Sets the font size to whatever*/
	color:#2B2527; /*Sets the color */
	margin-right:400; /*Push to the right */
	margin-bottom:1px; /* space below label */
}
#goal-li, #img3-label {
	margin:0; /* Remove margin default*/
	padding-left:20px; /*Slided to left */
}
#goal-li {
	margin-right:400px; /* Moved to the righttt*/
	list-style-position:inside; /* in theory should give the bullets in the container*/
	list-style-type:disc; /*FORCES ME TO HAVE BULLETS */
	margin: 0; /* Set the margin to zero */
	padding-left: 0; /*Removes the padding from left */
}
/* contact us/links css for goals*/

#contact-title, #links-title {
	color:#C38B3F; /*Sets the color */
}
#contact-col, #links-col {
	margin-left:40px; /* Push to left*/
}

/* footer css for goals*/

#full-footer {
	background-color: #C38B3F; /* Sets the background color */
	width:100%; /* Becomes like the entire thing*/
}

.footer-box {
	background-color:#C38B3F; /*Sets the background color */
	color:#2B2527; /*Sets the color */
	padding:15px; /* Space inside fioter*/
}
#footer-text {
	margin:0; /* Set the margin to zero */
	font-size:3px;/*Sets the font size to whatever*/
}
