/*Honestly a nice font type */

/* General stuff */
body {
    font-family: "Noto Serif", serif;
    background-color: #f8f9fa;
}

/* Header stuff */
.page-header {
    background-color: #343a40;
    padding: 50px 0;
}

/* Logo stuff */
#logo {
    max-width: 250px;
    display: block;
    margin: 30px auto;
}

/* Footer stuff */
.page-footer {
    background-color: #343a40;
}

/* List stuff */
.custom-list .list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

/* Link stuff */
a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}