/*Honestly a nice font type */
body {
	background-color:#00ADEF;
	font-family: "Inter", sans-serif;
}
/* Gotta make my header somewhat presentable */
.page-header {
	background-color:#00ADEF;
	padding:50px 0;
}

/* heading for the fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

/*The first logo*/
#logo {
	max-width:250px;
	display:block;
	margin: 30px auto;
}

/* footer part */

.page-footer {
	background-color:#00ADEF;
}

/* list styling */
.custom-list .list-group-item {
	background-color:#00ADEF;
	border: 1px solid #ddd;
}

/* my link stuff */
a {
	color:#00ADEF;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
