body {
	background-color:lightblue;
	text-align:center;
}
#title {
	color: blue;
	text-align:center;
}
#socials {
	float:right;
}
#links {
	float:right;
}
#logo {
	float:right;
	width:400px;
	height:500px;
}
#info1 {
	font-size:22px;
}
li {
	font-size:18px;
}
h3 {
	text-align:center;
}